<div class="row justify-content-md-center" id="posts" tabindex="-1">
    <h3 class="col-md-12">
        Posts :
    </h3>
    <div ng-if="list_stream.length != 0">
        <div ng-repeat="stream in list_stream track by $index" class="card">
            <div ng-if="stream.type == 'Image'" id="data" class="card-img-top">
                <img class="img-fluid img-thumbnail" src="{{ stream.ipfs }}" alt="Image not found">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ stream.title }}</h3>
                <div id="data" class="card-text">
                    <p>{{ stream.ipfs }}</p>
                </div>
            </div>
            <div ng-if="stream.type != 'Image' && stream.type != 'Text'">
                <p>Unknown type of post. Sorry.</p>
            </div>
            <div class="card-footer">
                <h5>Author : {{ stream.author }}</h5>
                <label for="upvote_btn_{{stream.smartcontract}}">{{ stream.upvotes }}</label>
            <a class=""  id="upvote_btn_{{stream.smartcontract}}" ng-click="upvote(stream)"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <label for="downvote_btn{{stream.smartcontract}}">{{ stream.downvotes }}</label>
            <a class="" id="downvote_btn_{{stream.smartcontract}}" ng-click="downvote(stream)"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </div>
        </div>
    </div>
    <div ng-if="list_stream.length == 0" class="alert alert-danger">
        <p>No post found. Please check that you are connected to a chain.</p>
        <p>If you are connected, there is probably no posts yet, you can be first !</p>
    </div>
</div>
