<div class="row justify-content-md-center" id="posts" tabindex="-1">
    <h3>
        Posts :
    </h3>
    <ul class="list-unstyled" id="list_posts">
        <li ng-repeat="stream in list_stream">
            <div class="card w-80">
                <div ng-if="stream.type == 'image'" id="data" class="card-img-top">
                    <img class="img-fluid img-thumbnail" src="{{ stream.data }}" alt="Image not found">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ stream.title }}</h3>
                    <div ng-if="stream.type == 'text'" id="data" class="card-text">
                        <p>{{ stream.data }}</p>
                    </div>
                </div>
                <div ng-if="stream.type != 'image' && stream.type != 'text'">
                    <p>Unknown type of post. Sorry.</p>
                </div>
                <div class="card-footer">
                    <label for="upvote_btn">{{ stream.upvotes }}</label>
                    <button id="upvote_btn" ng-click="upvote(stream)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                    <label for="downvote_btn">{{ stream.downvotes }}</label>
                    <button id="downvote_btn" ng-click="downvote(stream)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                </div>
            </div>
        </li>
    </ul>
</div>
