<div class="row" ng-controller="GroupController">
    <h3 style="width: 100%;">
        Group posts :
    </h3>

    <form>
        <div ng-change="getGroupPosts()" class="form-control">
            <label for="picker_group">Group : </label>
            <select id="picker_group">
                <option ng-repeat="group in list_my_group" ng-model="current_group" value="{{ group }}">{{ group }}
                </option>
            </select>
        </div>
    </form>

    <div ng-if="current_group != null">
        <div ng-if="current_group_posts.length != 0">
            <div ng-repeat="stream in current_group_posts track by $index" class="card">
                <div ng-if="stream.type == 'Image'" id="data" class="card-img-top">
                    <img class="img-fluid img-thumbnail" src="{{ stream.ipfs }}" alt="Image not found">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ stream.title }}</h3>
                    <div id="data" class="card-text">
                        <p>{{ stream.ipfs }}</p>
                    </div>
                </div>
                <div ng-if="stream.type != 'Image' && stream.type != 'Text'">
                    <p>Unknown type of post. Sorry.</p>
                </div>
                <div class="card-footer">
                    <h5>Author : {{ stream.author }}</h5>
                    <label for="upvote_btn_{{stream.smartcontract}}">{{ stream.upvotes }}</label>
                    <a class="btn btn-danger" id="upvote_btn_{{stream.smartcontract}}"
                       ng-click="upvote(stream.smartcontract, stream)"><span
                            class="glyphicon glyphicon-arrow-up"></span></a>
                    <label for="downvote_btn_{{stream.smartcontract}}">{{ stream.downvotes }}</label>
                    <a class="btn btn-danger" id="downvote_btn_{{stream.smartcontract}}"
                       ng-click="downvote(stream.smartcontract, stream)"><span
                            class="glyphicon glyphicon-arrow-down"></span></a>
                </div>
            </div>
        </div>
        <div ng-if="current_group_posts.length == 0" class="alert alert-danger">
            <p>No post found in this group</p>
        </div>
    </div>
</div>

