
<div class="row">
    <h3 style="width: 100%">
        Create a group :
    </h3>
    <form ng-submit="createGroup()" action="#!/home/" target="_blank" class="col-md-12">
        <div class="form-group">
            <label for="name_group_input">Name</label>
            <input type="text" class="form-control" id="name_group_input" ng-model="new_group_name">
        </div>
        <div class="form-group">
            <label for="tag_group_input">Tag</label>
            <input type="text" class="form-control" id="tag_group_input" ng-model="new_group_tag">
        </div>
        <button type="submit" class="btn btn-primary">Create group</button>
    </form>
</div>
