<div class="row" ng-controller="GroupController">
    <h3 style="width: 100%">
        Invite an user to a group :
    </h3>
    <form ng-submit="inviteMember()" action="#!/home/" class="col-md-12">
        <div class="form-group">
            <label for="tag_member_input">Group tag</label>
            <div id="tag_member_input">
                <select class="form-control" ng-model="new_member_tag">
                    <option ng-repeat="group in list_my_group" value="{{ group }}">{{ group }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="address_member_input">User address</label>
            <input type="text" class="form-control" id="address_member_input" ng-model="new_member_address">
        </div>
        <button type="submit" class="btn btn-primary">Invite user</button>
    </form>
</div>
