
<div class="row">
    <h3 style="width: 100%">
        Post in a group :
    </h3>
    <form method="post" enctype="multipart/form-data" action="/post_to_group" id="form_file" class="col-md-12">
        <div class="form-group">
            <label for="tag_member_input">Group tag</label>
            <div id="tag_member_input">
                <select class="form-control" ng-model="new_post_group_tag" name="tag">
                    <option ng-repeat="group in list_my_group" value="{{ group }}">{{ group }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="new_post_group_title_input">Title</label>
            <input name="title" type="text" class="form-control" id="new_post_group_title_input" ng-model="new_post_group_title">
        </div>

        <div class="form-group">
            <label for="new_post_group_type_input">Type</label>
            <select class="form-control" id="new_post_group_type_input" ng-model="new_post_group_type" name="type">
                <option>Text</option>
                <option>Image</option>
            </select>
        </div>

        <div ng-if="new_post_group_type == 'Text'" class="form-group">
            <label for="new_post_group_content_input">Content</label>
            <input name="content" type="text" class="form-control" id="new_post_group_content_input" ng-model="new_post_group_content">
        </div>
        <div ng-if="new_post_group_type == 'Image'" class="form-group">
            <label for="new_post_group_content_input_img">Image</label>
            <input name="image" type="file" class="form-control-file" id="new_post_group_content_input_img" ng-model="new_post_group_image">
        </div>

        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
