<div class="row justify-content-md-center">
    <h3>
        Connect to a chain :
    </h3>
    <form ng-submit="connectToChain()" action="#!/home/" target="_blank">
        <div class="form-group">
            <label for="chain_name">Chain name : </label>
            <input type="text" class="form-control" id="chain_name" ng-model="name_chain">
        </div>
        <div class="form-group">
            <label for="ip_chain">Chain IP : </label>
            <input type="text" class="form-control" id="ip_chain" ng-model="ip_chain">
        </div>
        <div class="form-group">
            <label for="port_chain">Chain PORT : </label>
            <input type="text" class="form-control" id="port_chain" ng-model="port_chain">
        </div>
        <div class="form-group">
            <label for="nickname_chain">Nickname : </label>
            <input type="text" class="form-control" id="nickname_chain" ng-model="nickname_chain">
        </div>
        <button type="submit" class="btn btn-primary" >Connect</button>
    </form>
</div>