
<div class="row">
    <form ng-submit="createChain()" action="#!/home/" target="_blank">
        <div class="form-group">
            <label for="name_chain_input">Name</label>
            <input type="text" class="form-control" id="name_chain_input" ng-model="new_chain_name">
        </div>
        <div class="form-group">
            <label for="nickname_chain_input">Nickname</label>
            <input type="text" class="form-control" id="nickname_chain_input" ng-model="new_chain_nickname">
        </div>
        <button type="submit" class="btn btn-primary">Create blockchain</button>
    </form>
</div>
